body{
    font-family: helvetica, arial, sans-serif;
    font-size: 18px;
}
.wrapper{
    position:absolute;
    background: #454545;
    display:block;
    margin:0;
    padding:0;
    border-radius: 3px;
    border: 1px solid #707070;
    cursor: pointer;
}
.wrapper-disabled{
    background:#dddddd;
    border: 1px solid #d3d3d3;

}

.wrapper-disabled textarea{
    color: #dddddd;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container{
    margin-top:25px;
}

textarea{
    clear: both;
    min-width:100px;
    min-height:100px;
    padding: 5px;
    display:block;
    border: none;
    border-radius: 3px;
    outline: none;
    /*border:1px solid #d1d1d1;*/
}

.close-btn{
    position: absolute;
    top: 0;
    left: 100%;
    width:18px;
    height: 18px;
    padding: 0;
    color: #333333;
    background: #ffffff;
    border: 1px solid #999999;
    border-radius: 3px;
    display: block;
    text-decoration: none;
    text-align: center;
    margin-top: 2px;
    margin-left: -25px;
    line-height: 18px;
}

.close-btn:active{
    margin-top: 3px;
}

.zoom-btn,
.small-btn{
    position: absolute;
    top: 0;
    left: 0;
    width:18px;
    height: 18px;
    padding: 0;
    color: #333333;
    background: #ffffff;
    border: 1px solid #999999;
    border-radius: 3px;
    display: block;
    text-decoration: none;
    text-align: center;
    margin-top: 2px;

    line-height: 18px;
}

.small-btn{
    margin-left: 25px;
}
.zoom-btn{
    margin-left: 5px;
}

.zoom-btn:active,
.small-btn:active{
    margin-top: 3px;
}


.undo-wrapper{
    display: flex;
    position: absolute;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 5px;
    background:#eee;
    border: 1px solid #ededed;
}

/*
    data undo
*/
button.undo-btn {
    margin: -14px 3px auto auto;
    background-color: #cce6a8;
    border: 1px solid #c2d8a5;
    border-radius: 3px;
    color: #ffffff;
    padding: 5px;
    text-align: center;
    width: 38%;
    height: 30px;
    cursor: pointer;
    transition: all 0.2s;
    position: absolute;
    top:50%;
    right: 50%;
}

button.undo-btn:hover {
    background-color: #7fbf4d;
    border: 1px solid #63a62f;
    text-shadow: 0 -1px 0 #4c9021;
}

button.undo-btn:active {
    border: 1px solid #5b992b;
    box-shadow: inset 0 0 8px 4px #71ba37, 0 1px 0 0 #eeeeee;
}
/*
    data delete
*/
button.delete-btn{
    margin: -14px auto auto 3px;
    background-color: #ccb8b5;
    border: 1px solid #d0b1aa;
    border-radius: 3px;
    color: #ffffff;
    padding: 5px;
    text-align: center;
    width: 38%;
    height: 30px;
    cursor: pointer;
    transition: all 0.2s;
    position: absolute;
    top:50%;
    left:50%;
}
button.delete-btn:hover{
    background-color: #bf3a3a;
    border: 1px solid #942e2e;
    text-shadow: 0 -1px 0 #862d2d;
}
button.delete-btn:active {
    border: 1px solid #992d2c;
    box-shadow: inset 0 0 8px 4px #b02f2e, 0 1px 0 0 #eeeeee;
}
